<div class="card my-5">
  <div class="card-body">
    <h5 class="card-title"><%= @flat.name %></h5>
    <p class="card-text"><%= @flat.address %></p>
  </div>
</div>

<div class="card my-5">
  <div class="card-body">
    <h5 class="card-title">About this flat</h5>
    <p class="card-text"><%= @flat.description %></p>
  </div>
</div>

<div class="card my-5">
  <div class="card-body">
    <h5 class="card-title">Details</h5>
    <p class="card-text"><i class="fa-solid fa-user"></i>
      <%= @flat.number_of_guests %>
      <i class="fa-solid fa-euro-sign"></i>
      <%= @flat.price_per_night %></p>
  </div>

</div>
